<div class="list-detail-container">
    <div class="list-header">
        <div class="list-name">{{list.name}}</div>
        <div class="list-description">{{list.description}}</div>
    </div>
    <div cdkDropList class="list-category-container">
        <div cdkDropListGroup (cdkDropListDropped)="dropCategory($event)">
            <div class="list-category-drag" *ngFor="let category of list.categoryList" cdkDrag>
                <div>
                    <div class="list-category-name">
                        <input [(ngModel)]="category.name" (blur)="saveCategory(category)"/>
                    </div>
                    <div cdkDropList (cdkDropListDropped)="dropElement($event, category)">
                        <div *ngFor="let element of category.elementList" cdkDrag>
                            <app-list-element [element]="element"></app-list-element>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-button-container">
    <button mat-fab color="primary" aria-label="Add a list button">
        <mat-icon>add</mat-icon>
    </button>
</div>