.list-detail-container {
    margin: 0.75rem;
}

.list-header {
    display: flex;
    margin: 10px 0;
    align-items: baseline;
    padding: 0.75rem;

}

.list-name {
    font-size: x-large;
}

.list-description {
    font-size: small;
    padding-left: 2rem;
    color: darkgrey;
}

.list-category-name {
    display: flex;
    flex-direction: row;
}

.list-category-name>input {
    border: none;
    font-size: large;
    background: none;
}

.list-category-name>input:focus {
    outline: none;
}

.category-handle {
    margin-left: -5px;
    margin-right: 14px;
}

.list-category-container {
    margin-top: 1rem;
}

.add-button-container {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
}

.delete-button {
  opacity: 1;
  position: fixed;
  color: white;
  background-color: red;
  left: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 9px 0 lightgrey;
}
.delete-zone {
  position: fixed;
  color: white;
  left: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  opacity: 0;
  z-index: 100;
}

.category {
    padding: 0.75rem;
    background-color: white;
}

/*Drag preview and placeholder styles*/

.category-drag-placeholder,
.element-drag-placeholder {
  display: flex;
  align-items: center;
  margin: 0rem 2rem;
  padding: 0rem 2rem;
  background-color:  rgba(220, 220, 220, 0.5);
  opacity: .2;
  border: 2px lightgray dotted;
  min-height: 40px;
}

.category-drag-preview,
.element-drag-preview {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 70px;
  width: 70px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}








