.list-detail-container {
    margin: 0.75rem;
}

.list-header {
    display: flex;
    margin: 10px 0;
    align-items: baseline;
    padding: 0.75rem;

}

.list-name {
    font-size: x-large;
}

.list-description {
    font-size: small;
    padding-left: 2rem;
    color: darkgrey;
}

.list-category-name {
    display: flex;
    flex-direction: row;
}

.list-category-name>input {
    border: none;
    font-size: large;
    background: none;
}

.list-category-name>input:focus {
    outline: none;
}

.category-handle {
    margin-left: -5px;
    margin-right: 14px;
}

.list-category-container {
    margin-top: 1rem;
}

.add-button-container {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
}

.category {
    padding: 0.75rem;
    background-color: white;
}

.cdk-drag-placeholder.category,
.cdk-drag-placeholder.element {
    opacity: .3;
}

.cdk-drag-preview.category, 
.cdk-drag-preview.element {
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.425);
}