<div class="list-detail-container">
    <div class="list-header">
        <div class="list-name">{{list.name}}</div>
        <div class="list-description">{{list.description}}</div>
    </div>
    <div cdkDropList class="list-category-container">
        <div cdkDropList (cdkDropListDropped)="dropCategory($event)">
            <div cdkDropListGroup>
                <div class="list-category-drag" *ngFor="let category of list.categoryList" cdkDrag>
                    <div>
                        <div class="list-category-name">
                            <mat-icon class="category-handle" cdkDragHandle>drag_indicator</mat-icon>
                            <input [(ngModel)]="category.name" (blur)="saveCategory(category)"/>
                        </div>
                        <div cdkDropList [cdkDropListData]="category.elementList" (cdkDropListDropped)="dropElement($event)">
                            <div *ngFor="let element of category.elementList" cdkDrag [cdkDragStartDelay]="300">
                                <app-list-element [element]="element"></app-list-element>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-button-container">
    <button mat-fab color="primary" aria-label="Add a list button">
        <mat-icon>add</mat-icon>
    </button>
</div>