<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>
            <mat-icon class="tool-bar-icon">assignment</mat-icon>
            <span>Shopping List</span>
        </h1>
    </mat-toolbar-row>
</mat-toolbar>


<mat-tab-group (selectedIndexChange)="selectedListIndex=$event">
    <mat-tab *ngFor="let list of lists">
        <ng-template mat-tab-label>
            <button mat-icon-button *ngIf="isModifing" (click)="deleteList(list)">
                <mat-icon class="remove-tab-icon">close</mat-icon>
            </button>
            {{list.name}}
          </ng-template>
        <app-shopping-category *ngFor="let category of list.categoryList" [category]="category" [expanded]="true"
            [isModifing]="isModifing">
        </app-shopping-category>
        <button mat-mini-fab 
                *ngIf="isModifing"
                color="primary" 
                aria-label="Add element to the list" 
                (click)="createCategory(list)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-tab>
</mat-tab-group>
<div class="edit-button-container">
    <button mat-fab color="primary" *ngIf="!isModifing" aria-label="Edit list button"
        (click)="toggleModifing()">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab color="primary" 
        *ngIf="isModifing" 
        aria-label="Edit list button" 
        (click)="saveList(lists[selectedListIndex])">
        <mat-icon>save</mat-icon>
    </button>
</div>