.edit-button-container {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 100;
}

.tool-bar-icon {
    padding: 8px;
}

.toolbar-title {
    font-size: 36px;
    font-weight: 200;
}

.profile-img {
    height: 40px;
    width: 40px;
    margin-top: 13px;
    margin-right: 6px;
    border-radius: 20px;
}

mat-toolbar-row > mat-icon {
    flex-grow: 2;
}