/* Application-wide Styles */

.tool-bar-icon {
    padding: 8px;
}

.toolbar-title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 9px;
}

.toolbar-title:focus{
    outline: none;
}

mat-toolbar-row>mat-icon {
    flex-grow: 2;
}
