
.element-container {
    margin: 1rem;
}

.checkbox-label-container {
    display: flex;
    flex-direction: row;
}

.element-name {
    margin-left: 1rem;
}

.element-name >  input {
    border: none;
    background: none;
}

.element-name >  input:focus {
    border: none;
    outline: none;
}



.element-quantity {
    margin-left: 1rem;
}