
.element-container {
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.checkbox-label-container {
    display: flex;
    flex-direction: row;
}

.element-name {
    margin-left: 1rem;
}

.element-name >  input {
    border: none;
    background: none;
    font-size: medium;
}

.element-name >  input:focus {
    border: none;
    outline: none;
}

.element-quantity {
    margin-left: 1rem;
    font-size: medium;
}

.add-button {
    color: green;
}

.remove-button {
    color: red;
}