<div class="cards-container" cdkDropListGroup>
    <div class="cards-container-column"  cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="list-card" *ngFor="let list of lists; even as isEven;" cdkDrag  [routerLink]="['/list-detail', list.id]">
            <mat-card *ngIf="isEven" >
                <mat-card-header>
                    <mat-card-title> {{list.name}}</mat-card-title>
                    <mat-card-subtitle>{{list.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-list>
                    <mat-list-item *ngFor="let category of list.categoryList">
                        {{category.name}}
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </div>
    <div class="cards-container-column" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="list-card" *ngFor="let list of lists; odd as isOdd;" cdkDrag [routerLink]="['/list-detail', list.id]">
            <mat-card  *ngIf="isOdd" >
                <mat-card-header>
                    <mat-card-title> {{list.name}}</mat-card-title>
                    <mat-card-subtitle>{{list.description}}</mat-card-subtitle>
                </mat-card-header>
                <mat-list>
                    <mat-list-item *ngFor="let category of list.categoryList">
                        {{category.name}}
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
    </div>
</div>

<div class="add-button-container">
    <button mat-fab color="primary" aria-label="Add a list button">
        <mat-icon>add</mat-icon>
    </button>
</div>